name: Lint Python Code

on:
    push:
      branches: [dev]
      paths-ignore:
        - '**.md'
        - 'CHANGELOG.md'
        - 'README.md'
        - 'AUTHORS.md'
        - 'LICENSE'
        - 'docs/**'
        - '.github/**'
        - '!.github/workflows/**'
    pull_request:
      branches: [dev]
      paths-ignore:
        - '**.md'
        - 'CHANGELOG.md'
        - 'README.md'
        - 'AUTHORS.md'
        - 'LICENSE'
        - 'docs/**'
        - '.github/**'
        - '!.github/workflows/**'
    workflow_call:
    workflow_dispatch:

permissions:
  contents: read  # Required to checkout code

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: '3.13'
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install ruff

      - name: Run Ruff
        run: ruff check --output-format=github
