# This workflow will run tests on every push and publish to PyPI on every tag push
name: Test and Publish to PyPI and Test PyPI

on:
  release:
    types: [published]

permissions:
  contents: read  # Required to checkout code

jobs:

  lint:
    uses: ./.github/workflows/lint.yaml
  test:
    uses: ./.github/workflows/test.yaml

  publish:
    needs: [lint, test]  # Ensure this job only runs if 'test' and 'lint' are successful
    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Set up Python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: "3.12"

    - name: Install dependencies
      run: |
        pip install build twine

    - name: Build the package
      run: python -m build

    - name: Determine Branch
      id: determine-branch
      run: echo "branch_name=$(echo ${GITHUB_REF} | sed 's|refs/heads/||; s|refs/tags/||')" >> $GITHUB_ENV

    - name: Publish to Test PyPI
      if: startsWith(github.ref, 'refs/tags/v') && github.event.release.prerelease
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.TEST_PYPI_API_TOKEN }}
      run: |
        twine upload --verbose --repository-url https://test.pypi.org/legacy/ dist/*

    - name: Publish to PyPI
      if: startsWith(github.ref, 'refs/tags/v') && !github.event.release.prerelease
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
      run: |
        twine upload --verbose dist/*

